

    <h2>Add Student</h2>
    <br/>
    <br/>
    <form >
        <div class="full-details">
            <label for="Student number">Student Number</label>
            <input type="text" id="Student number" Student number="Student number" required>
        </div>


        <div>
            <label for="First name">First Name</label>
            <input type="text" id="First name" First name="First name" required>
        </div>


        <div>
            <label for="Last name">Last Name</label>
            <input type="text" id="Last name" Last name="Last name" required>
        </div>


        <div>
            <label for="email">Email Address</label>
        <input type="text" id="email" email="email" required>
        </div>

        <div>
            <label for="phoneNumber">Cellphone Number</label>
        <input type="text" id="phoneNumber" phoneNumber="phoneNumber" required>
        </div>


        <div>
            <label for="Date of birth">Date of birth</label>
            <input type="date" id="Date of birth" Date of birth="Date of birth" required>
        </div>

        <div>
            <label for="Address">Physical Address</label>
            <textarea type="text" id="Address" rows="8" cols="88"></textarea>
        </div>


        <div>
            <label for="Course">Course</label>
            <input type="text" id="Course" Course="Course" required>
        </div>

        <button type="submit">Add Student</button>
    </form>


