<div class="container">
    <h1>Edit Details</h1>
  
 
  
            <form #userForm= >
                
           
                  <div class="form-group">
                   
          
                    <input id="studentNo" type="text" required placeholder="Student Number" class="form-control"
                           name="studentNo" ngModel > 
                  </div>
  
                  <div class="form-group">
                  
  
                    <input id="firstName" type="text" required placeholder="firstName" class="form-control"
                          name="firstName" ngModel>
                  </div>
  
                  <div class="form-group">
                    
  
                    <input id="lastName" type="text" required placeholder="lastName" class="form-control"
                          name="lastName" ngModel>
                  </div>

                  <div class="form-group">
                      
  
                      <input id="dateOfBirth" required type="text"  placeholder="Date of birth"  class="form-control"
                            name="dateOfBirth" ngModel>
                     </div>
   
  
                    <div class="form-group">
                      
  
                       <input id="emailAddress" required type="text"  placeholder="Email Address" class="form-control"
                            name="emailAddress" ngModel>
                    </div> 

                    <div class="form-group">
                      
  
                        <input id="cellNo" required type="text"  placeholder="Cell Number" class="form-control"
                             name="cellNo" ngModel>
                     </div> 

                     <div class="form-group">
                      
  
                        <input id="course" required type="text"  placeholder="Course" class="form-control"
                             name="course" ngModel>
                     </div> 
  
                    
                  
                    
             </form>

 
  
             
              <button class="btn btn-primary" id="save" type="submit">Save</button>
              <button class="btn btn-primary" id="cancel" type="submit">Cancel</button>
            </div>
