h1{
    /* background-color: rgb(103, 103, 214); */
    margin-left: 45%;
    
}

.container{
    background-color: rgb(155, 101, 101);
    margin-left: 20%;
    margin-right: 13%;
}

#studentNo{
    margin-left: 30%;
    position: relative;
    width:200px ;
    height:30px ;
    margin-top: 2%;
}

#firstName{
    margin-left: 30%;
    position: relative;
    width:200px ;
    height:30px ;
    margin-top: 2%; 
}

#lastName{
    margin-left: 50%;
    margin-top: -3%;
    position: fixed;
    width:200px ;
    height:30px ;
}

#dateOfBirth{
    margin-left: 30%;
    position: relative;
    width:200px ;
    height:30px ;
    margin-top: 2%;  
}

#emailAddress{
    margin-left: 50%;
    margin-top: -3%;
    position: fixed;
    width:200px ;
    height:30px ;  
}

#cellNo{
    margin-left: 30%;
    position: relative;
    width:200px ;
    height:30px ;
    margin-top: 2%;   
}

#course{
    margin-left: 50%;
    margin-top: -3%;
    position: fixed;
    width:200px ;
    height:30px ;
    
}

#save{
    margin-top: 5%;
  margin-left: 30% ;
  width: 100px;
  height: 40px;  
}

#cancel{
    margin-left: 20%;
    width: 100px;
    height: 40px;
}


