<h2>{{studentDetails.firstName + " " + studentDetails.lastName}}</h2>

<div class="container">

  <div class="action-holder">
    <button type="button" class="btn-Delete" (click)="deleteOne()" routerLink="/dashboard"><svg height="25" viewBox="0 0 48 58" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"/><path d="M0 0h48v48H0z" fill="none"/></svg></button>
       <button type="button" class="btn-Edit" (click)="isEditable()"><svg height="25" viewBox="0 0 48 58" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M6 34.5v7.5h7.5l22.13-22.13-7.5-7.5-22.13 22.13zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></button>   
  </div>

  <div class="div-form" >

    <div class="form-group">
      <label for="studentNo" class="studentNo">Student Number:</label>
      <input id="studentNo" type="text" [disabled]="true" required placeholder="Student Number" class="form-control" name="studentNo" [(ngModel)] = "studentDetails.studentNumber">
      <label class="required-class" *ngIf="StuEmpty">!</label>
    </div>

    <div class="form-group">
      <label for="firstName" class="firstName">First Name:</label>
      <input id="firstName" type="text" [disabled]="editable" required  placeholder="First Name" class="form-control" name="firstName"  [(ngModel)] = "studentDetails.firstName" >
      <label class="required-class" *ngIf="namEmpty">!</label>
    </div>

    <div class="form-group">
      <label for="lastName" class="lastName">Last Name:</label>
      <input id="lastName" type="text" [disabled]="editable" required placeholder="Last Name" class="form-control" name="lastName" [(ngModel)] = "studentDetails.lastName" >
      <label class="required-class" *ngIf="lnamEmpty">!</label>
    </div>

    <div class="form-group">
      <label for="dateOfBirth" class="dateOfBirth">Date of Birth:</label>
      <input id="dateOfBirth" required type="date" [disabled]="editable" placeholder="Date of Birth" class="form-control" name="dateOfBirth" [(ngModel)] = "studentDetails.dateOfBirth" >
      <label class="required-class" *ngIf="dobEmpty">!</label>
    </div>

    <div class="form-group">
      <label for="emailAddress" class="emailAddress">Email Address:</label>
      <input id="emailAddress" required type="text" [disabled]="editable" placeholder="Email Address" class="form-control" [(ngModel)] = "studentDetails.email" name="emailAddress" >
      <label class="required-class" *ngIf="emaEmpty">!</label>
    </div>

    <div class="form-group">
      <label for="cellNo" class="cellNo">Cell Number:</label>
      <input id="cellNo" required type="text" [disabled]="editable" placeholder="Cell Number" class="form-control" [(ngModel)] = "studentDetails.phoneNumber" name="cellNo" >
      <label class="required-class" *ngIf="cellEmpty">!</label>
    </div>

    <div class="form-group">
      <label for="address" class="address">Physical Address:</label>
      <input id="address" required type="text" rows="8" cols="118%" [disabled]="editable" placeholder="Physical Address"   [(ngModel)] = "studentDetails.address"class="form-control" name="address" >
    </div>

    <div class="form-group">
      <label for="course" class="course">Course:</label>
      <input id="course" required type="text" [disabled]="editable" placeholder="Course" [(ngModel)] = "studentDetails.course" class="form-control" name="course" >
      <label class="required-class" *ngIf="couEmpty">!</label>
    </div>
  
      <div class="button-group">
        <button class="btn btn-primary" id="save" type="submit" click="onSave()">Save</button>
       
      </div>
    </div>

</div>
              