.search-div-holder{
  margin-top: 10px;
  display: flex;
  margin-bottom: 30px;
  justify-content: end;
  /* position: absolute; */

}

.search-div {
    display: flex;
    gap: 1px;
    width: 100%;
    max-width: 250px;
    flex-direction: column;
    position: absolute;
    box-shadow: 2px 2px 400px 0px rgba(140,140,140,0.36);
}

.search-div input[type="search"] {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;

}

.search-div button{
    border: 1px;
    border-radius: 0px 5px 5px 0px;
    
}

.search-div ul{
    list-style: none;
    background-color: white;
    margin: 0px;
    padding: 0px 3px 3px 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    max-height: 205px;
    overflow: auto;
    border-radius: 0px 0px 8px 8px;
}

.search-div ul li{
    background-color: white;
    padding: 8px;
}

.search-div ul li:hover{
    background-color: gray;
    padding: 8px;
    font-weight: bold;
    /* transform: translateX(4px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35); */
}