<div  class="search-div-holder">
    
    <div class="action-holder">
        <button type="button" routerLink="/add-student">+</button>
        
        <div class="search-div">
            <input type="search" #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="search...">
            <ul>
                <li *ngFor="let students of foundUsers$ | async" routerLink="/student-edit/{{students.studentNumber}}">
                    {{students.firstName + " " + students.lastName}}
                </li>
            </ul>
        </div>
    </div>
</div>
