<h2>Students</h2>


<div class="div-view">

<app-search-student></app-search-student>

<div class="div-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Student No</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>DOB</th>
                <th>Option</th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>            <tr>
                <td>1</td>
                <td>1234567</td>
                <td>Sfiso</td>
                <td>Mawila</td>
                <td>04/11/2009</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

