<section>
    <h3>View Student details</h3>
    <div>
      <br>
      <br>
        <label id="label" for="studentNumber">Student Number: </label>
        <input type="text" id="studentNumber" placeholder="Student Number...">
      </div>
      <div>
        <label id="label" for="fname">First name: </label>
        <input type="text" id="fname"  placeholder="First name...">
      </div>
      <div>
        <label id="label" for="lname">Last name: </label>
        <input type="text" id="lname"  placeholder= "Last name...">
      </div>
      <div>
        <label id="label" for="dob">Date of Birth: </label>
        <input type="date" id="dob"  placeholder= "Date">
      </div>
      <div>
        <label id="label" for="emailAddress">Email address: </label>
        <input type="text" id="emailAddress" placeholder="Email Address...">
      </div>
      <div>
        <label id="label" for="phoneNumber">Cellphone Number: </label>
        <input type="text" id="phoneNumber" placeholder="Cellphone Number...">
      </div>
      <div>
        <label id="label" for="address">Physical address: </label>
        <input type="text" id="address" placeholder="Physical Address...">
      </div>
      <div>
        <label id="label" for="course">Course: </label>
        <input type="text" id="course" placeholder="Course...">
      </div>
  
      <input type="submit" value="Submit">
    
    </section>
  