

<h2>Student Details</h2>
<br/>

<form >
    <div>
        <label for="Student number">Student number</label>
    <input type="text" id="Student number" readonly>
    </div>


    <div>
        <label for="First name">First name</label>
        <input type="text" id="First name" readonly>
    </div>


    <div>
        <label for="Last name">Last name</label>
        <input type="text" id="Last name" readonly>
    </div>


    <div>
        <label for="email">Email Address</label>
    <input type="text" id="email"readonly>
    </div>

    <div>
      <label for="email">Cellphone number</label>
  <input type="text" id="email" readonly>
  </div>

    <div>
        <label for="Date of birth">Date of birth</label>
        <input type="date" id="Date of birth" readonly>
    </div>

    <div>
        <label for="Address">Physical Address</label>
    <textarea type="text" id="Address" rows="8" cols="88" readonly></textarea>
    </div>


    <div>
        <label for="Course">Course</label>
        <input type="text" id="Course" readonly>
    </div>


    <button type="submit">Back</button>
</form>


